services:
  app:
    build: .
    image: sparkauto:latest
    container_name: sparkauto-app
    networks:
      - traefik
    expose:
      - 8080
    labels:
      - "traefik.http.routers.sparkauto.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.sparkauto.entrypoints=websecure"
      - "traefik.http.routers.sparkauto.tls.certresolver=myresolver"
      - "traefik.http.routers.sparkauto.tls.domains[0].main=${DOMAIN}"
    restart: always

networks:
  traefik:
    external: true